Repository GroupeNRM/Madera, pull requests merged in 2021-03, with the labels that each got.

#18 Feat/register-page
  client/pages/connexion.vue
  client/pages/inscription.vue
  src/controller/UserController.ts
  src/entity/User.ts
Labels: api, client, enhancement

#22 Feat/jwt
  .env
  client/assets/img/404.svg
  client/layouts/Header.vue
  client/layouts/error.vue
  client/layouts/no-header.vue
  client/middleware/admin-access.js
  client/nuxt.config.js
  client/package-lock.json
  client/package.json
  client/pages/connexion.vue
  client/pages/creer-projet.vue
  client/pages/inscription.vue
  client/store/index.js
  package-lock.json
  package.json
  src/controller/UserController.ts
  src/entity/Session.ts
  src/index.ts
  src/middleware/auth.ts
  src/routes/UserRoute.ts
  src/services/MailService.ts
  src/types/index.ts
Labels: api, client, enhancement

#20 Feat/create quotation
  client/assets/img/devis-madera.png
  client/assets/img/devis.png
  client/assets/img/invoice_icon.png
  client/components/CardDevis.vue
  client/layouts/Header.vue
  client/pages/consulter-devis/_id.vue
  client/pages/consulter-devis/index.vue
  client/pages/consulter-projet/index.vue
  client/pages/creer-devis.vue
  client/pages/creer-projet.vue
  package-lock.json
  src/controller/DevisController.ts
  src/controller/UserController.ts
  src/entity/Devis.ts
  src/routes/DevisRoute.ts
  src/routes/index.ts
Labels: api, client, enhancement, help wanted

#25 Fix navbar
  client/layouts/Header.vue
Labels: bug

#24 Feat/create client
  client/assets/img/collectivite.svg
  client/assets/img/user.svg
  client/package-lock.json
  client/package.json
  client/pages/creer-client.vue
  src/controller/ClientController.ts
  src/entity/Client.ts
  src/entity/Project.ts
  src/routes/ClientRoute.ts
  src/routes/index.ts
Labels: api, client

#28 Feat/edit devis
  client/pages/consulter-devis/_id.vue
  client/pages/consulter-devis/editer-devis/_id.vue
  client/pages/consulter-devis/index.vue
  client/pages/creer-devis.vue
  src/controller/DevisController.ts
  src/routes/DevisRoute.ts
Labels: api, client, enhancement

#27 Feat/dashboard
  client/assets/img/clients.svg
  client/assets/img/dashboard.svg
  client/assets/img/devis.svg
  client/assets/img/dolar.svg
  client/assets/img/gamme.svg
  client/assets/img/projets.svg
  client/assets/img/user.svg
  client/assets/img/work.svg
  client/assets/scss/main.scss
  client/components/FormModal.vue
  client/components/Sidebar.vue
  client/layouts/Header.vue
  client/layouts/dashboard.vue
  client/pages/tableau-de-bord/gammes.vue
  client/pages/tableau-de-bord/index.vue
  client/pages/tableau-de-bord/utilisateurs.vue
  package-lock.json
  package.json
  src/controller/ActivityController.ts
  src/controller/RangeController.ts
  src/controller/UserController.ts
  src/entity/Activity.ts
  src/entity/Range.ts
  src/repository/ActivityRepository.ts
  src/repository/RangeRepository.ts
  src/routes/ActivityRoute.ts
  src/routes/RangeRoute.ts
  src/routes/UserRoute.ts
  src/routes/index.ts
  src/subscriber/ProjectSubscriber.ts
Labels: api, client, enhancement

#29 Fix/last update
  client/assets/img/userflat.svg
  client/components/Sidebar.vue
  client/layouts/Header.vue
  client/pages/consulter-devis/_id.vue
  client/pages/consulter-devis/editer-devis/_id.vue
  client/pages/consulter-devis/index.vue
  client/pages/consulter-projet/_id.vue
  client/pages/consulter-projet/index.vue
  client/pages/creer-client.vue
  client/pages/creer-devis.vue
  client/pages/creer-projet.vue
  client/pages/index.vue
  src/controller/ClientController.ts
  src/controller/DevisController.ts
  src/controller/ProjectController.ts
  src/entity/Client.ts
  src/entity/Devis.ts
  src/entity/Project.ts
  src/routes/ClientRoute.ts
  src/subscriber/ClientSubscriber.ts
  src/subscriber/DevisSubscriber.ts
Labels: api, client, enhancement
